.card-margin {
  margin: 3.75rem;
}

.card-centered {
  display: flex;
  justify-content: center;
}

/* HHC is styling for the header in the HomeComponent.js file that reads "Latest News and Highlights" */
.HHC{
  margin: 1.875rem;
  text-align: center;
}

.footer-style{
  text-align: center;
}
